<%- include('partials/header-logged-out') -%>

<main class="container">
  <h1>Traveling Teachers Network</h1>
  <p>
    Hey international school teachers! We know you like to travel! And who
    doesn’t like saving money? Traveling Teachers Network allows you to connect
    with other international teachers to arrange house swaps. Apply today to
    become a verified member and start planning your next trip!
  </p>
</main>

<%- include('partials/footer') -%>
