<%- include('partials/header-logged-out') -%>

<main class="container text-center">
  <div class="row align-items-center">
    <div class="col-6">
      <h1>Traveling Teachers Network</h1>
      <p class="text-start">
        Hey international school teachers! We know you like to travel! And who
        doesn’t like saving money? Traveling Teachers Network allows you to
        connect with other international teachers to arrange house swaps. Apply
        today to become a verified member and start planning your next trip!
      </p>
      <a href="/signup">
        <button class="btn btn-outline-success">Sign Up Now!</button>
      </a>
    </div>
    <div class="col-6">
      <img src="/imgs/logo.png" width="500px" alt="" />
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
