<%- include('partials/header-logged-out') -%>

<main class="container">
  <h1>Apartment Swap</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam rerum,
    molestias delectus enim corrupti voluptate in distinctio eius non sapiente
    autem illum exercitationem culpa obcaecati consequuntur deserunt tempora
    quas! Mollitia? Libero, eligendi! Culpa assumenda molestias necessitatibus
    reprehenderit dolor exercitationem laboriosam blanditiis aliquam iusto!
    Saepe corrupti deleniti, voluptate laboriosam laudantium, rem vel sit quam
    adipisci magni et veritatis consequatur suscipit minima.
  </p>
</main>

<%- include('partials/footer') -%>
